<div id="wrapper">
  <mat-card-content>
      <form class="my-form" [formGroup]="fg">
         <mat-form-field class="full-width" >
                <mat-label>Manufacturer</mat-label>
                <input  matInput  placeholder="Manufacturer"  formControlName="ManufacturerFormControl"  [(ngModel)]="form.Manufacturer"  required>
                <mat-error *ngIf="fg.get('ManufacturerFormControl').hasError('pattern')">
                 <strong>English letters only</strong>
               </mat-error>
               <mat-error *ngIf="fg.get('ManufacturerFormControl').hasError('required')">
                Manufacturer is <strong>required</strong>
               </mat-error>
             </mat-form-field>
             <mat-form-field  class="full-width"  >
                <mat-label>Model</mat-label>
                <input  matInput  placeholder="Model" formControlName="ModelFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="form.Model"    required>
                <mat-error *ngIf="fg.get('ModelFormControl').hasError('pattern')">
                 <strong>Remove white spaces</strong>
               </mat-error>
               <mat-error *ngIf="fg.get('ModelFormControl').hasError('required')">
                Model is <strong>required</strong>
               </mat-error>
             </mat-form-field>
             <mat-form-field  class="full-width">
                <mat-label>Cost Per Day</mat-label>
                <input  matInput  placeholder=" CostPerDay" #input formControlName="CostPerDayFormControl" [(ngModel)]="form.CostPerDay" [errorStateMatcher]="matcher"  required>
                <mat-error *ngIf="fg.get('CostPerDayFormControl').hasError('pattern')">
                 <strong>Digits only</strong>
               </mat-error>
               <mat-error *ngIf="fg.get('CostPerDayFormControl').hasError('required')">
                Cost Per Day is <strong>required</strong>
               </mat-error>
             </mat-form-field>
             <mat-form-field  class="full-width" >
                <mat-label>Cost Per Day Delay</mat-label>
                <input  matInput  placeholder="Cost Per Day Delay" formControlName="CostPerDayDelayFormControl"  [(ngModel)]="form.CostPerDayDelay" [errorStateMatcher]="matcher"  required>
                <mat-error *ngIf="fg.get('CostPerDayDelayFormControl').hasError('pattern')">
                  <strong>Digits only</strong>
               </mat-error>
               <mat-error *ngIf="fg.get('CostPerDayDelayFormControl').hasError('required')">
                Cost Per Day Delay is <strong>required</strong>
               </mat-error>
              </mat-form-field>
             <mat-form-field  class="full-width"  >
                <mat-label>Year</mat-label>
                <input  matInput  placeholder="Year"   [errorStateMatcher]="matcher" formControlName="YearFormControl"  [(ngModel)]="form.Year" required>
                    <mat-error *ngIf="fg.get('YearFormControl').hasError('pattern')">
                      <strong>Remove white spaces</strong>   
               </mat-error>
               <mat-error *ngIf="fg.get('YearFormControl').hasError('required')">
                 Year is <strong>required</strong>
               </mat-error>
             </mat-form-field>
                <label >Gear:</label>
                <mat-radio-group required  [(ngModel)]="form.Gear" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button  value="A">Automatic</mat-radio-button>
                  <mat-radio-button  value="M">Manually</mat-radio-button>
                </mat-radio-group>
                <mat-error [ngStyle]="{'font-size': '75%'}" *ngIf="!form.Gear" >
                    Gear is <strong>required</strong>
                </mat-error>
          <button id="btn-upload-pic" mat-raised-button (click)="fileInput.click()" color="primary"    >Car Image</button>
          <img  *ngIf="form.Image"  [src]="form.Image" id="selected-image"/>
          <input hidden (change)="onSelectFile($event)" #fileInput type="file" id="file">
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button color="primary"  (click)="addCarType()" >Add New Car Type</button>
      </mat-card-actions>
      </div>
  
      <!-- <input [hidden]="true"  id="btn-uploadfile" type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" /> -->
  
      <input [hidden]="true"  id="btn-uploadfile" type='file'   #fileInput (change)="onSelectFile($event)">
      