<div class="wrapper-page">


<h3>REVIEW & RESERVE</h3>
<mat-card >
    <mat-card-header>
      <div mat-card-avatar></div>
    </mat-card-header>
    <img mat-card-image class='car-image' [src]="carInforamtion.Image">
    <mat-card-content>
        <h1>Rental Details</h1>
        <h3>Vehicle</h3>
        <p>{{carInforamtion.Manufacturer}} {{carInforamtion.Model}} {{carInforamtion.Year}}</p>
        <p>Mileage:{{relevantCar.Mileage | number: '2.'}}</p> 
        <p>Car Number:{{relevantCar.CarNumber}}</p> 
        <div class="image-text-wrapper">
            <img src="./assets/gearshift.png" style="height:26px;">
          </div>
          <div class="gear-text" [innerHTML]="carInforamtion.Gear === 'A' ? 'Automatic' : 'Manually' " >
          </div>
        <h3>Dates & Times</h3>
        <p>Pick-Up Time: {{carInforamtion.rentPeriod.begin | date:'mediumDate'}} </p>
        <p >Return Time: {{carInforamtion.rentPeriod.end | date:'mediumDate'}} </p>
        <h3>Pick-Up/Return Location</h3>
        <p> Pick-Up Location: {{branchInfo.City}},{{branchInfo.Address}}</p>
        <p>Return Location: {{branchInfo.City}},{{branchInfo.Address}}</p>
        <!-- <button mat-icon-button color="primary" (click)="editBranchReturn()" >
            <mat-icon  matSuffix >edit</mat-icon>
            </button> -->
        <h3>Price</h3>
        <p>Price for day : {{carInforamtion.CostPerDay | currency:'USD':'symbol'}} </p>
        <p>Price for delay : {{carInforamtion.CostPerDayDelay | currency:'USD':'symbol'}} </p>
        <p>Estimated Total : {{daysRange * carInforamtion.CostPerDay | currency:'USD':'symbol'}} </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"  (click)="reserveCar(relevantCar)" >Reserve Now</button>
    </mat-card-actions>
  </mat-card>
</div>  
