<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src='./assets/BaranesLogo.png'  />
      <a  mat-button  routerLink="/home">Home</a>
      <a  mat-button  routerLink="/Cars/selectCar">Pick Your Car</a>
       <span class="spacer"></span>
       <a  mat-button  routerLink="/register">Register</a>
       <a  mat-button  routerLink="/login">Login</a>
       <button mat-button [matMenuTriggerFor]="Managment">Managment</button>
       <mat-menu #Managment="matMenu">
        <a  mat-button  routerLink="/Managment/Users">Users</a>
        <button mat-menu-item [matMenuTriggerFor]="Cars">Cars</button>
        <mat-menu #Cars="matMenu">
          <a  mat-button  routerLink="/Managment/Cars Types">Types</a>
          <button mat-menu-item>Cars Stock</button>
          <button mat-menu-item>Orders</button>
        </mat-menu>
      </mat-menu>

    </mat-toolbar-row>
 </mat-toolbar>

<!-- <span  id="logout">
  <div *ngIf="isLoggedIn()" >
  <span >Hello {{username}},</span><a  (click)="logout()" ><br>Sign out</a>
  </div>

  <div *ngIf="!isLoggedIn()" >
      <a  (click)="signUp()" ><br>Sign up</a>
      </div>
    
</span> -->