<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src='./assets/BaranesLogo.png'  />
      <a  mat-button  routerLink="/home">Home</a>
      <a  mat-button  routerLink="/Cars/selectCar">Pick</a>
       <span class="spacer"></span>
       <a  mat-button  routerLink="/register">Register</a>
       <a  mat-button  routerLink="/login">Login</a>
       <a  mat-button  routerLink="/Managment/Users">Managment</a>
    </mat-toolbar-row>
 </mat-toolbar>

<!-- <span  id="logout">
  <div *ngIf="isLoggedIn()" >
  <span >Hello {{username}},</span><a  (click)="logout()" ><br>Sign out</a>
  </div>

  <div *ngIf="!isLoggedIn()" >
      <a  (click)="signUp()" ><br>Sign up</a>
      </div>
    
</span> -->