// mat-tab-group{
// background: #d1062e;
// height: 90px;
// }

.spacer {
    flex: 1 1 auto;
  }
#logout{
    position: absolute;;
    top: 0px;
    right: 0px;
}
  
.mat-icon{
padding-left: 1%;
}

